
@font-face {
    font-family: 'CharisSILW';
    src: url('../fonts/CharisSIL/CharisSIL-R.eot');
    src: url('../fonts/CharisSIL/CharisSIL-R.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CharisSIL/CharisSIL-R.woff') format('woff'),
         url('../fonts/CharisSIL/CharisSIL-R.ttf') format('truetype'),
         url('../fonts/CharisSIL/CharisSIL-R.svg#charis_silregular') format('svg');
}


