
.field_utexas_call_to_action {
  a.cta{
    margin-bottom:0;
  }
}
.region-content-top-right .field_utexas_call_to_action a.cta {
  width: 100%;
  text-align: center;
}
.sidebar-default-style .field.field_utexas_call_to_action a.cta {
  width: 100%;
  text-align: center;
}
.fieldblock_field_utexas_call_to_action {
  background: none ;
  border: none;
  padding-bottom:0;
}
