@mixin icon($name) {

	font-family: 'forty_acres_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  @if $name == links {
    content: "\f100";
  }
  @else if $name == buttons {
    content: "\f101";
  }
  @else if $name == external {
    content: "\f113";
  }
  @else if $name == chevron-down {
    content: "\f108";
  }
  @else if $name == chevron-up {
    content: "\f109";
  }
  @else if $name == close {
    content: "\f123";
  }
  @else if $name == search {
    content: "\102";
  }

}