.utexas-promo-field.utexas-promo-unit {
  display: block;
  overflow: hidden;
}

.utexas-promo-field .promo-utexas-image-link {
  display: block;
}

.utexas-promo-field .promo-headline {
  margin: 0;
  font-weight: 700;
}
