.field_bio_block{
	img{
		padding-right: 25px;
		padding-bottom: 10px;
		width: 150px;
		height: auto;
		float:left;
		@include respond(medium) {
			width: 200px;
		}
		@include respond(large) {
			width: 250px;
		}
	}
	.field_utexas_quick_links {
			border:none;
			padding: 0;
			padding-left: 150px;
			@include respond(medium) {
				padding-left: 200px;
			}
			@include respond(large) {
				padding-left: 250px;
			}
	}
	.field_utexas_member_bio {
		// border-top: 2px solid #d6d6d6;
		padding-top: 20px;
		margin-top: 10px;
	}
	.bio-top{
		padding: 0 5px 10px 5px;
		@include respond(medium) {
			padding: 0 0 10px 0;
		}
	}

	.bio-bottom{
		padding: 0 5px 10px 5px;
		display: inline;
		overflow: hidden;
		height: auto;

		@include respond(medium) {
			margin-top: 20px;
			padding: 0 0 20px 0;
		}
	}

	.name{
		margin: 0 0 8px 0;
	}

	.title{
		font-weight: 200;
		font-size: rem-calc(15);
		line-height: rem-calc(22);
		color: $lightGreyText;
		margin-top: 0px;
	}

	.bio-details p{
		font-size: rem-calc(18);
		line-height: rem-calc(24);
		margin: 0 0 rem-calc(20) 0;
		color: $bodyCopy;
	}

	.additional-info{
		margin-top: 30px;
		h3{
			font-size: rem-calc(18);
			line-height: rem-calc(24);
			font-weight: 700;
			margin: 0 0 8px 0;
		}
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			color: $lightGreyText;
			list-style-type: none;
			font-size: rem-calc(15);
			line-height: rem-calc(22);
		}

		.small-12{
			@include respond(small-only) {
				margin-bottom: 15px;
			}
		}
	}

	.field_wysiwyg_a{
		margin-top: 20px;
	}

	&.links-present {
		.field_utexas_member_bio {
			border-top: 2px solid $sidebar-divider;
		}
	}&.no-links {

	}
	hr {
		background-color: $sidebar-divider;
		margin: 25px 0 0 0;
	}
}

.related-links-override{
	@include respond(small-only) {
		padding: 10px 10px 0 10px !important;
	}
}
.container-team-member {
	padding-bottom: 25px;
	@include respond(large) {
		padding-bottom: 40px;
	}
	.team-member-content {
		padding-top: 20px;
	}
}
