/**
 * Stylesheet for Utexas Profile
 */

body.maintenance-page #logo {
  background: transparent url('themes/forty_acres/img/general/logo.png') no-repeat top left;
  height: 0;
  overflow: hidden;
  padding-top: 60px; /* height of logo  */
  width: 170px; /* width of logo  */
  background-size: 170px;

}

body.maintenance-page p {
    margin-top: 0;
}

body.in-maintenance #logo {
    margin-bottom: 0!important;
}
