// general styles that get used throughout

// paragraphs (like from CKEditor) should be 1px font
p {
	font-size: 1em;
}

.field-label {
	font-size: 1.25em;
}

// no border on bottom of header
header.UT-header {
  border-bottom: none;
}

// RFI boxes
.rfi-code {
  float: right;
  overflow: hidden;
  width: 400px;
  height: 340px;
  background-color: rgba(255,255,255,.9);

  .e2ma_signup_form {
    margin: 0;
    width: auto;
    font-family: $opensans;

    form {
      padding: 1em;
      max-width: 500px;
      margin: 0 auto;
    }

    .e2ma_signup_message {
      display: block;
      background-color: #333F48;
      width: 100%;
      padding: 8px 0 4px;
      text-align: center;

      span {
        font-size: 1.8em !important;
        color: #fff;
      }

    }

    .e2ma_signup_form_row {

      &:after {
        display: table;
        content: ' ';
        clear: both;
      }

      .e2ma_signup_form_element {
        float: right;
        width: 70%;
      }

      .e2ma_signup_form_label {
        width: 25%;
        font-size: 1em;
        display: inline-block;
        min-width: 100px;

      }

    }

  }

  .e2ma_signup_form_button_row {

    input {
      background-color: #3383a4;
      border-radius: 0;
      text-transform: none;
      font-size: 1em;
      outline: 0;
    }

  }

}

// move content area for the copy down
.middle_content {
	margin-bottom: 3em;

	.column.small-12.medium-8.large-9 {

		.field {
			margin-bottom: 1.5em;
		}

	}

}

// for contact boxes
.contact-wrapper {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #e1ddd2;
	margin: 0;

	h2.contact-title {
		margin: 0px 0 10px 0;
		color: #2d2a28;
		font-style: italic;
		font-size: 1.0625rem;
		line-height: 1.4375rem;
		border-bottom: 1px solid #e1ddd2;
		padding-bottom: 10px;
		font-weight: 500;
		text-align: center;
	}

	.coordinator-name {
		color: #BF5700;
		font-family: open_sans, sans-serif;
		font-size: 0.875rem;
		line-height: 1.1875rem;
		font-style: normal;
		font-weight: bold;
		margin-bottom: 2px;
	}

	.field_aos_contact_phone {
		color: #474541;
		font-family: CharisSILW, serif;
		font-size: 0.9375rem;
		line-height: 1.375rem;
	}

	.field_aos_contact_email {
		color: #474541;
		text-decoration: underline;
	}

}

// info sessions
.info-sessions {
	margin-top: 1.5em;
}

// frontpage styles
.front {

  header.UT-header {
    botder-bottom: 0;
  }

  #ut-page-content {
    padding-top: 32px;
    border: none;
  }

}

