.utexas-flex-content .utexas-flex-content-area-image-wrapper .utexas-flex-content-area-image {
  width: 100%;
}
.utexas-flex-content .utexas-flex-content-area-links ul {
  margin: 6px 0 0;
  padding: 0;
}
.utexas-flex-content .utexas-flex-content-area-links ul li {
  padding-bottom: 9px;
}
