$tan: #e0e0d8;
$gray: #f2f2f2;
$light-green: #f8fff0;
$green: #bbee77;

// Hide the default text area
#edit-field-template {
  display: none;
}

.node-page-form,
.node-home_features-form {
  .form-text,
  .vertical-tabs .form-type-textfield input {
    box-sizing: content-box;
    height: 17px;
    padding: 5px;
    width: 500px;
    &.form-autocomplete {
      background-position: 99% 7px;
      margin: 0;
      padding-right: 25px;
      &.throbbing {
        background-position: 99% -13px;
      }
    }
  }

  .form-text.form-autocomplete {
    // Adjust size of autocomplete box
    background-position: 99% 7px;
    margin: 0;
    width: 480px;
    &.throbbing {
      background-position: 99% -13px;
    }
  }

  .vertical-tabs .field-multiple-table .form-type-textfield input {
    // Reset for tabledrag.
    width: auto;
  }

  .form-file {
    margin-right: 20px;
  }
  .form-select {
    height: 29px;
  }

  .no-wysiwyg .ckeditor_links {
    // Override CKEditor default behavior.
    display: none !important;
  }
  .text-format-wrapper {
    position: relative;
    .ckeditor_links {
      position: absolute;
      right: 5px;
      z-index: 50;
    }
  }
}

.template-selector {
  .template-option {
    &:hover {
      background: lighten($tan, 5%);
      cursor: pointer;
    }
    &.selected {
      background: $light-green;
      border-color: $green;
      cursor: default;
    }

    background: $gray;
    border: 1px solid $tan;
    float: left;
    margin: 0.5em;
    min-height: 210px;
    width: 20%;
    padding: 1em;

    h2,
    h3,
    .none {
      margin: 0;
    }

    h2 {
      font-size: 1em;
      min-height: 4em;
    }

    h3,
    .template-description,
    .template-field-list,
    .none {
      font-size: 0.825em;
    }

    .none {
      line-height: 1.25em;
    }

    .template-field-list {
      background: rgba(255, 255, 255, 0.95);
      border: 1px solid #eee;
      list-style-type: none;
      margin: 0;
      padding: 10px;
      position: absolute;
      z-index: 5000;
      li {
        margin: 0;
        padding: 0;
      }
    }

    .meta-top {
      max-height: 150px;
      overflow-y: hidden;
      .image {
        float: left;
      }
      .template-description {
        margin-left: 110px;
      }
    }

    .meta-bottom {
      clear: both;
      margin-top: 5px;
    }

    .collapsed {
      display: none;
    }

    .field-expander {
      position: relative;
      margin-right: 12px;
      &:after {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 6px solid darken($tan, 40%);
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -10px;
        top: 3px;
        width: 0;

        -webkit-transition: -webkit-transform .2s ease-in;
           -moz-transition: -moz-transform .2s ease-in;
            -ms-transition: -ms-transform .2s ease-in;
             -o-transition: -o-transform .2s ease-in;
                transition: transform .2s ease-in;
      }

      &.expanded:after {
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
      }
    }
  }
}

// Override weird margin left on TH
form .field-multiple-table th.field-label {
  padding-left: 6px;
}
