// area of study content type

.node-type-cpe-area-of-study {

	.top-banner {
		position: relative;
		height: 400px;

		.column {
			min-height: 369px;
		}

		.container-hero.hero-style-1 {
			height:400px;
			margin-right: -15px;
			margin-left: -15px;
			margin-top: 0;
			padding-top: 28px;

			.relative-pos {
				position: relative;
			}

			h1.page-title {
				bottom: 0;
				position: absolute;
				background-color: #f8f8f8;
				font-family: $opensans;
				color: $burntGrey;
				font-weight: 600;
				padding: 10px 20px;
				opacity: 0.96;
			}

		}

		.rfi-code {
			float: right;
			max-height: 350px;
			overflow: hidden;
			width: 400px;
			height: 340px;
			opacity: 0.96;
			background-color: #f8f8f8;
		}

	}

	.middle_content {
		margin-top: 2em;

		.field_aos_cert_options {

			.field-item {
				display: inline-block;
				vertical-align: top;
				width: 31.5%;
				background-color: #efefef;
				margin: 1em 1%;
				padding: 1em;

				&:nth-child(3n+1) {
					margin-left: 0;
				}

				&:nth-child(3n+3) {
					margin-right: 0;
				}

				.node-cpe-single-course-cert {

					h2 {
						font-size: 1.125em;
						margin: 0;
						margin-bottom: .5em;
						line-height: 1.25em;
					}

					.field_scc_headline {

						.field-item {
							margin: 0;
							padding: 0;
							width: 100%;

							p {
								margin-bottom: 0;
								line-height: 1.3em;
								font-size: 1em;
							}

						}

					}

					ul.links {

						li.node-readmore {
							display: block;
							width: 100%;
							padding: 0;
							list-style-type: none;
							background-color: $brandBlue;
							padding: 4px;
							text-align: center;

							a {
								color: #fff;
							}

						}

					}

				}

			}

		}

	}

	.column.medium-8.large-9 {
		padding-right: 2em;
	}

}

// more responsive styling in _layout.scss


