// area of study content type

.node-type-cpe-area-of-study {

  .top-banner {
    position: relative;
    height: 400px;

    .column {
      min-height: 369px;
    }

    .container-hero.hero-style-1 {
      height:400px;
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 0;
      padding-top: 28px;

      .relative-pos {
        position: relative;
      }

      h1.page-title {
        bottom: 0;
        position: absolute;
        background-color: #f8f8f8;
        font-family: $opensans;
        color: $burntGrey;
        font-weight: 600;
        padding: 10px 20px;
        opacity: 0.96;
      }

    }

    .rfi-code {
      float: right;
      max-height: 350px;
      overflow: hidden;
      width: 400px;
      height: 340px;
      opacity: 0.96;
      background-color: #f8f8f8;
    }

  }

  .middle_content {
    margin-top: 2em;

    .field_aos_cert_options {

      .field-items {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }

      .field-item {
        width: 31%;
        padding: 1em;
        display: inline-block;
        box-sizing: border-box;
        background-color: #efefef;

        &:nth-child(3n+1) {
          margin-left: 0;
        }

        &:nth-child(3n+3) {
          margin-right: 0;
        }

        .node-cpe-single-course-cert,
        .node-cpe-multi-course-cert {
          position: relative;
          height: 100%;

          h2 {
            font-size: 1.125em;
            margin: 0;
            margin-bottom: .5em;
            line-height: 1.25em;
            white-space: wrap;
          }

          .field_scc_headline,
          .field_mcc_headline {

            .field-item {
              margin: 0;
              padding: 0;
              width: 100%;
              min-height: 0;

              p {
                margin-bottom: 2em;
                line-height: 1.3em;
                font-size: 1em;
              }

            }

          }

          ul.links {
            position: absolute;
            bottom: 0;
            margin: 0;
            width: 100%;

            li.node-readmore {
              display: block;
              width: 100%;
              padding: 0;
              list-style-type: none;
              background-color: $buttonBlue;
              padding: 4px;
              text-align: center;

              a {
                color: #fff;
              }

            }

          }

        }

      }

    }


    .field_aos_headline {

      p {
        color: $burntOrange;
        line-height: 1.25em;
        font-size: 2.25em;
      }

    }

  }

  .at-a-glance {
    background-color: #BF5700;
    color: #fff;
    position: relative;
    padding: 1em 1em .1em 1em;
    margin-bottom: 1.5em;
    line-height: 1.6em;

    h4 {
      background-color: #9b4b00;
      font-weight: normal;
      text-transform: uppercase;
      margin-right: -16px;
      margin-left: -16px;
      margin-top: -16px;
      color: #fff;
      font-size: 1.4em;
      padding: .5em;
      text-align: center;
      margin-bottom: .7em;
    }

    .field-label {
      font-size: 1em;
    }

    .field {
      margin-bottom: .75em;
    }

  }

  .column.medium-8.large-9 {
    padding-right: 2em;
  }

}

// PDU button at bottom
a[title="PDUs/CEUs"] {
  display:block;
  background-color: #eee;
  padding: 10px;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 3em;
}

// related arts
.field_aos_related_arts {

  .field-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    .field-item {
      width: 31%;
      display: inline-block;
      box-sizing: border-box;
    }

  }

}

// more responsive styling in _layout.scss


