// instructor content type

// style h1 title
.node-type-cpe-instructor {

  h1.page-title {
    color: #BF5700;
    line-height: 1.25em;
    font-size: 2.25em;
    font-weight: normal;
  }

}

.column.medium-8.large-9 {
	padding-right: 2em;

	.field_instructor_bio {
		font-family: $opensans;
		font-size: 1.125rem;
		line-height: 1.75rem;
		color: $bodyCopy;
		margin-bottom: 1.25rem;
	}

}

.field_instructor_pic {
	text-align: center;
}
