// area of study content type

.node-type-cpe-single-course-cert {

	.top-banner {
		position: relative;
		height: 400px;

		.column {
			min-height: 369px;
		}

		.container-hero.hero-style-1 {
			height:400px;
			margin-right: -15px;
			margin-left: -15px;
			margin-top: 0;
			padding-top: 28px;

			.relative-pos {
				position: relative;
			}

			h1.page-title {
				bottom: 0;
				position: absolute;
				background-color: #f8f8f8;
				font-family: $opensans;
				color: $burntGrey;
				font-weight: 600;
				padding: 10px 20px;
				opacity: 0.96;
			}

		}

		.rfi-code {
			float: right;
			max-height: 350px;
			overflow: hidden;
			width: 400px;
			height: 340px;
			opacity: 0.96;
			background-color: #f8f8f8;
		}

	}

	.middle_content {
		margin-top: 2em;

		.at-a-glance {
			background-color: #fffdfa;
			border-left: 1px solid #f0ede6;
			border-right: 1px solid #f0ede6;
			border-bottom: 1px solid #f0ede6;
			padding: 1em 1em 0 1em;
			margin-bottom: 1.5em;
			line-height: 1.6em;

			h4 {
				border-bottom: 1px solid #f0ede6;
				color: $burntOrange;
        padding-bottom: .4em;
        margin-bottom: .7em;
			}

			.field {
				margin-bottom: .75em;
			}

		}

	}

	.column.medium-8.large-9 {
		padding-right: 2em;
	}

}

// more responsive styling in _layout.scss


